@model IEnumerable<Grad.Models.Author>

@{
    ViewData["Title"] = "Авторы";
}

<h2>Авторы</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article.ArtDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.displayedname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.AuthorId">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.AuthorId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
