@model Grad.Models.State

@{
    ViewData["Title"] = "Состояния";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateDescr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateDescr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.ArtDescr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StateId">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
