@model IEnumerable<Grad.Models.State>

@{
    ViewData["Title"] = "Состояния";
}

<h2>Состояния</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StateDescr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StateDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.ArtDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StateId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.StateId">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.StateId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
