@model Grad.Models.Picture

@{
    ViewData["Title"] = "Изображения";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.uploaddate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.uploaddate)
        </dd>
        <dt>
            Оригинал
        </dt>
        
    </dl>
</div>
<div class="display-field">
    <img src="@Url.Content(@Model.Path)" />
</div> 

<div>
    <a asp-action="Index">Назад</a>
</div>
