@model Grad.Models.Article

@{
    ViewData["Title"] = "Статьи";
}

<h2>Удалить</h2>

<h3>Удалить эту статью?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ArticleID" />
        <dt>
            @Html.DisplayNameFor(model => model.ArtName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtDescr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtDescr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Назад</a>
        </div>
    </form>
</div>
