@model Grad.Models.Article

@{
    ViewData["Title"] = "Статьи";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtDescr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtDescr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleID">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
