@model IEnumerable<Grad.Models.Article>

@{
    ViewData["Title"] = "Articles";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ArtName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtDescr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
