@model Grad.Models.TextEditViewModel

@{
    ViewBag.Title = "Writing";
}

<h2>Article</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Writing</h4>
        <hr />
        @Html.ValidationSummary(false)
        <input type="hidden" asp-for="artid" />
        <div>
            Name
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>

        <div>
            Title
            <div>
                @Html.EditorFor(model => model.Title)
            </div>
        </div>

        <div>
            Description
            <div>
                @Html.EditorFor(model => model.Description)
            </div>
        </div>

        @*<div>
            Text
            <div>
                @Html.EditorFor(model => model.Text)
            </div>
        </div>*@

        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea runat="server" asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>

        
        <div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
}

