@model Grad.Models.ArticleRequest

@{
    ViewData["Title"] = "Заявки";
}

<h2>Удалить</h2>

<h3>Удалить эту заявку?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ArticleRequestId" />
        <dt>
            @Html.DisplayNameFor(model => model.ReqName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReqName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReqDescr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReqDescr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReqDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReqDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Назад</a>
        </div>
    </form>
</div>
