@model IEnumerable<Grad.Models.ArticleRequest>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReqName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReqDescr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReqDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReqName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReqDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReqDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
