@model Grad.Models.Note

@{
    ViewData["Title"] = "Замечания";
}

<h2>Удалить</h2>

<h3>Удалить замечание?</h3>
<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="NoteId" />
        <dt>
            @Html.DisplayNameFor(model => model.NoteDescr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteDescr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoteDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fixed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fixed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Checked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Checked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.ArtDescr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Назад</a>
        </div>
    </form>
</div>
